################### Spring boot #########################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

################### Angular #########################

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/AventixApp/dist
/AventixApp/tmp
/AventixApp/out-tsc
/AventixApp/bazel-out

# Node
/AventixApp/node_modules
/AventixApp/npm-debug.log
/AventixApp/yarn-error.log

# IDEs and editors
/AventixApp/.idea/
/AventixApp/.project
/AventixApp/.classpath
/AventixApp/.c9/
/AventixApp/*.launch
/AventixApp/.settings/
/AventixApp/*.sublime-workspace

# Visual Studio Code
/AventixApp/.vscode/*
!/AventixApp/.vscode/settings.json
!/AventixApp/.vscode/tasks.json
!/AventixApp/.vscode/launch.json
!/AventixApp/.vscode/extensions.json
/AventixApp/.history/*

# Miscellaneous
/AventixApp/.angular/cache
/AventixApp/.sass-cache/
/AventixApp/connect.lock
/AventixApp/coverage
/AventixApp/libpeerconnection.log
/AventixApp/testem.log
/AventixApp/typings

# System files
.DS_Store
Thumbs.db