.main{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  min-height: calc(100vh - 56px); /* Adjusted to min-height */
  background: linear-gradient(rgba(211, 211, 211, 0.2), rgba(123, 104, 238, 0.2));
  filter: saturate(60%);
}

h2{
  padding: 20px 10px;
  text-align: center;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*margin:50px 0;*/
}

.scroll{
  overflow-y: auto;
  max-height: 60vh;
  width:60%
}

.main .button{
  padding-top: 30px;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline-warning {
  padding: calc(10px - 2px) calc(15px - 2px); /* Adjusted padding */
  background-color: transparent;
  color: #9b59b6; /* Gold color for contrast */
  border: 2px solid #9b59b6;

}

.btn-outline-warning:hover {
  background-color: #9b59b6;
  color: #ffffff;
}

.btn-outline-dark {
  background-color: transparent;
  color: #2f3542; /* Dark color for a subtle option */
  border: 2px solid #2f3542;
}

.btn-outline-dark:hover {
  background-color: #2f3542;
  color: #ffffff;
}

.btn:not(:last-child) {
  margin-right: 30px; /* Adds space to the right of each button except the last one */
}
