<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Gestion Des Commandes</title>
</head>

<body>
	<h1>Annulation non-prise en compte</h1>
	<h3>(Delais de 3 jours dépasser)</h3>
	<br/>

		
		<table border="2">
			<tr>
				<td th:text="${commande.numeroCommande}"></td>
				<td th:text="${commande.nbCarte}"></td>
				<td th:text="${commande.tauxParticipation}"></td>
				<td th:text="${commande.dateCommande}"></td>
				<td th:text="${commande.statut}"></td>
			
			</tr>
		</table>
	
	</ul>


<a th:href="@{/commande/client/{clientId}(clientId=${commande.utilisateur.id})}">Retour aux commandes</a>

</body>




</html>