<!--xs (phones), sm (tablets), md (desktops), and lg (larger desktops)-->
<header class="navbar navbar-expand-md navbar-dark bg-purple">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rasengan Solution</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Notre Histoire</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Produits</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Tarifs</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>

    <div class="ms-auto">
      <a class="btn btn-outline-light me-2">Connexion</a>
      <a routerLink="/home/portal" class="btn btn-light" >Inscription</a>
    </div>
  </div>
</header>

<router-outlet></router-outlet>







