<!--xs (phones), sm (tablets), md (desktops), and lg (larger desktops)-->
<header class="navbar navbar-expand-md navbar-dark bg-purple">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rasengan Solution</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Mes commandes</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Onglet2</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Onglet3</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Onglet4</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Onglet5</a>
        </li>
      </ul>
    </div>

    <div class="ms-auto">
      <a routerLink="/home" class="btn btn-light" (click)="onLogout()" >Deconnexion</a>
    </div>
  </div>
</header>
