.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);
  background: linear-gradient(rgba(211, 211, 211, 0.2), rgba(123, 104, 238, 0.2));
  filter: saturate(60%);
}

.container{
  max-width: 400px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button.btn:hover {
  background-color: #0056b3;
}

.error-form{
  color: red;
}

.errorMessage{
  color: red;
}

.successMessage{
  color: green;
}
